<h2>Oh my! <%=@owner.name%> has so many beautiful jewels!<br>Here they are:</h2>

<ul>
<% @jewels.each do |jewel| %>
<li>
  <a href='/jewels/<%= jewel.id %>'>
    <strong><%=jewel.mineral%></strong>
  </a>
</li>
    <div class="edit_delete">
      <a href='/jewels/<%= jewel.id %>/edit'>
        edit&nbsp;
      </a>
      <form action="/jewels/<%= jewel.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete">
      </form>
    </div>
<% end %>
</ul>
<a href="/jewels/new">Enter a Jewel!</a>
